.top-navigation-bar
  background: #ffffff
  box-shadow: 0 0 5px #000000
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 1000
  .top-navigation-bar-wrapper
    max-width: 1200px
    box-sizing: border-box
    margin: 0 auto
    padding: 15px
    position: relative
    +clearFloat
    h1
      float: left
      font-weight: normal
      a
        display: block
        text-decoration: none
        color: #0080ff
    nav
      @media all and (max-width: $mobile_small)
        display: none
        float: none
        position: absolute
        top: 100%
        left: 0
        background: #ffffff
        border: 1px solid #bfbfbf
        +fitWidth
        &:after
          display: block
          position: absolute
          content: ''
          border-left: 15px solid transparent
          border-right: 15px solid transparent
          border-bottom: 15px solid #bfbfbf
          top: -15px
          left: 17px
      float: right
      .main-menu
        +clearFloat
        .dd-menu
          @media all and (max-width: $mobile_small)
            left: 100%
            top: 0
            border: 1px solid #ffffff
            +fitWidth
          display: none
          background: #0080ff
          position: absolute
          left: 0
          top: 100%
          li
            float: none
            margin: 0
            border-radius: 0px
            color: #ffffff
            &:hover
              color: #0080ff
              background: #ffffff
              .count
                background: #0080ff
                color: #ffffff
            a
              padding-right: 35px
              color: inherit
              display: block
              position: relative
              .count
                position: absolute
                right: 10px
                border-radius: 50%
                background: #ffffff
                color: #0080ff
                padding: 5px
                font-size: 10px
                +hCenter
        li.with-dd-menu
          border-radius: 4px 4px 0 0
        li
          @media all and (max-width: $mobile_small)
            float: none
            margin: 0
          border-radius: 4px
          position: relative
          list-style: none
          margin-left: 10px
          float: left
          color: #0080ff
          &:hover
            background: #0080ff
            color: #ffffff
            .dd-menu
              display: block
          a
            color: inherit
            cursor: pointer
            display: block
            padding: 10px
            font-weight: bold
            text-decoration: none
    .burger
      @media all and (max-width: $mobile_small)
        display: block
      display: none
      position: absolute
      right: 15px
      +vCenter
      span
        display: block
        padding: 3px
        background: #0080ff
        margin-bottom: 5px
        width: 30px
        &:last-child
          margin-bottom: 0
    #toggle-nav
      display: none
    #toggle-nav:checked ~ nav
      display: block